<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register form</title>
</head>
<body>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label>First Name : </label>
        <input type="text" name="firstname" placeholder="First Name"><br>
        <label>Last Name : </label>
        <input type="text" name="lastname" placeholder="Last Name"><br>
        <label>User Name : </label>
        <input type="text" name="username" placeholder="User Name"><br>
        <label>Email  : </label>
        <input type="email" name="email" placeholder="email "><br>
        <label>Password  : </label>
        <input type="password" name="password1" placeholder="password "><br>
        <label>Confirm Password : </label>
        <input type="password" name="password2" placeholder=""><br>
        <button type="submit" >Register</button>
         
    </form>
    <div>
        {% for message in messages %}
        <h4>{{message}}</h4>
        {% endfor  %}
    </div>
</body>
</html>